<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mycompany.myapp.mapper.BoardMapper">
  	<select id="getList" resultType="com.mycompany.myapp.vo.BoardVO">
  		select * from tbl_board1 order by bno
  	</select>
  	<select id="getOne" parameterType="com.mycompany.myapp.vo.BoardVO" resultType="com.mycompany.myapp.vo.BoardVO">
  		select * from tbl_board1 where bno=#{bno}
  	</select>
  	<select id="getListWithWriter" parameterType="String" resultType="com.mycompany.myapp.vo.BoardVO">
  		select * from tbl_board1 where writer=#{writer}
  	</select>
  	<delete id="delete" parameterType="Long">
  		delete from tbl_board1 where bno = #{bno}
  	</delete>
	<update id="update" parameterType="com.mycompany.myapp.vo.BoardVO">
		update tbl_board1 set title=#{title}, content=#{content}, writer=#{writer}, updateDate=sysdate
 	 		 where bno=#{bno}
	</update>
	<insert id="insert" parameterType="com.mycompany.myapp.vo.BoardVO">
		insert into tbl_board1 values(seq_board1.nextval, #{title}, #{content}, #{writer}, sysdate, sysdate)
	</insert>
  </mapper>